<%- include("head.html") %>  
  <body>
    <%- include("header.html") %>
         <div class="content">
          <% if (products){ %>
          <% products.forEach(product => { %>
            <div class="article">
              <img src="<%= product.picture %>" alt="<%= product.nombre%>">
              <p class="tag"><%= product.tags.join(" "); %></p>
              <p><%= product.name %></p>
              <p><b><%= product.price %>€</b></p>
              <% if(product.sale) { %>
                <p class="sale"> En venta</p>
              <% } else {%>
                <p class="lookingFor">Se busca</p>
              <%}%>                            
            </div>
          <%}) %>
          <%} %>
    </div>
    </div>
  </body>
  <%- include("footer.html") %>

